<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.mapper">

<!-- team1 db에서 testmember로 만들고 사용중 -->

<delete id="delete">
delete from testmember where userid = #{userid}
</delete>

<select id="list" resultType="member.vo.MemberVO">
select rownum no, m.* from 
(select * from testmember order by name) m
</select>

<update id="update">
update testmember set name=#{name}, userpwd=fn_encrypt(#{userpwd}), email=#{email},
					birth=#{birth}, phone=#{phones}, post=#{post}, address=#{addresses}
where userid=#{userid}		
</update>


<select id="mypage" resultType="member.vo.MemberVO">

select m.*, phone phones, address addresses from testmember m where userid = #{userid}

</select>

<select id="login"  resultMap="member_birth">
select m.*, phone phones, address addresses from testmember m 
where userid=#{userid} and userpwd= fn_encrypt(#{userpwd})
</select>
<resultMap type="member.vo.MemberVO" id="member_birth" >
	<result column="birth" property="birth" jdbcType="DATE" javaType="java.sql.Date"/>
</resultMap>

<insert id="insert">
insert into testmember(name, userid, userpwd, email, birth, phone, post, address )
values ( #{name}, #{userid}, fn_encrypt(#{userpwd}), #{email}, #{birth, jdbcType=DATE}, #{phones}, #{post}, #{addresses})					
</insert>

<select id="id_usable" resultType="integer">
select count(*) from testmember 
where userid = #{userid}
</select>


<!-- 아이디 찾기 오전 -->
	<select id="id_find" parameterType="java.util.HashMap" resultType="member.vo.MemberVO" >
		select * from testmember 
		where email = #{email}
	</select>


<!-- 아이디 찾기 오후 -->
	<select id="id_find2"  resultType="member.vo.MemberVO" >
		select * from testmember where email = #{email}
	</select>
	
	
<!-- 비밀번호 찾기 -->
	<select id="pw_find1"  parameterType="java.util.HashMap" resultType="member.vo.MemberVO" >
		select * from testmember where userid = #{userid} and email = #{email}
	</select>
		<select id="pw_find2"  resultType="member.vo.MemberVO" >
		select * from testmember where email = #{email}
	</select>
	
	
	








</mapper>